.wrapper {
  padding-top: 30px;
  background: #ECEFF1;
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  justify-content: space-around;
  align-content: flex-start;
  max-width: 980px;
  margin: 0 auto;
  margin-top:20px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  border-radius: 10px;
}
